* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.container {
    width: 100%;
    height: auto;
    color: rgb(17,23,27);
    display: grid;
    font-family:"aktiv-grotesk", sans-serif;
}
.image-wrap{
    width: 100%;
    height: auto;
    position: relative; 
}

.image-wrap img{ 
    width: 100%;
    height: 850px;
    display: block;
    object-fit: cover;
    opacity: 1;
}


 .content-area {
    position: absolute;
    width: 780px;
    height: auto;
    place-self: center start;
    padding: 3rem;
}

.content-area h2 {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(26, 26, 26);
    opacity: 1;
}

.content-area p {
    font-size: 1.3rem;
    color: #1a1a1a;
}

.space {
    padding: 0.8rem;
} 

.btn,.video {
    display: inline-block;
}

.button-text {
    position: relative;
    width: 12.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 87, 41);
    overflow: hidden;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1.2rem;
    font-size: x-large;
    border-radius: 8px;
    color: white;
    text-decoration: none;
}
 .button-text::before {
    content: "SHOP NOW";
    background-color:lavender;
    color:black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: -1.6rem;
    text-align: center;
    bottom: 0;
    position: absolute;
    right: 120%; 
    z-index: 0;
    transition: width 0.5s ease-in-out, height 0.3s ease-in-out, transform 0.5s ease-in-out, right 0.5s ease-in-out;
 }
.button-text:hover::before {
    right:0;
}
.video .video-icon {
    width: 15rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    cursor: pointer;
    padding: 1.2rem;
    overflow: hidden;
    font-size: x-large;
    border-radius: 8px;
    margin-left: 20px;
    gap: 1rem;
}
.video .video-icon:hover::before{
    right: 0;
}
.video .video-icon::before{
    content: "Watch Video";
    align-items: center;
     padding: -1rem;
     text-align: center;
     display: flex;
     justify-content: center;
    bottom: 0;
    position: absolute;
    background-color:#1a1a1a;
    color:black;
    right: 130%;
    width: 100%;
    height: 100%;
      overflow: hidden;
    transition: width 0.5s ease-in-out, height 0.3s ease-in-out, transform 0.5s ease-in-out, right 0.5s ease-in-out;

}
.show-mble{
    display: none;
}
@media screen and (max-width:1400px) {
    .show-mble{
        display: none;
    }
}
 @media screen and (max-width:890px) {
    .content-area{
        position: absolute;
        width: 600px;
        height: auto;
        place-self: center start;
        padding: 2rem;
    }
    .content-area h2{
        font-size: 2rem;
        font-weight: 700;
        color: rgb(26, 26, 26); 
        opacity: 1;
    }
    .content-area p{
        font-size: 1rem;
        color: #1a1a1a
    }
    a{
        width: 8rem;
        font-size: 0.9rem;
    }
    .video-icon{
            width:10rem;
            font-size:0.9rem;
            display: flex;
            gap: 0.1rem;
        }
}
@media screen and (max-width:660px){
.show-mble{
    width: 100%;
    height: auto;
    display: block;
}
.show-mble img{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}
.show-desktop{
    display: none;
}
.overlay{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin-top: 290px;
}
.btns{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.button-text{
    width: 14.7rem;
    overflow: hidden;
}
.video{
    margin-left:-15px;
}
}
  